@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background: #efefef;  
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-left: 5%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(6, 5, 5);
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #ff3e3b;;
}

.image img{
    background-size: cover;
    width: 100vw;
    position: absolute;
    opacity: 0.7;
}




.text-box {
    margin: 0;
    padding-top: 20%;
    padding-left: 5%;
    font-size: 30px;
    position: relative;
}

.text-box h1 {
    font-size: 85px;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 10px;
}

.text-box .btn {
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    background: #ff3e3b;
    color: rgb(27, 23, 23);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}



@media (max-width: 855px) {
    .text-box h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .text-box {
        font-size: 20px;
    }
    .text-box .btn {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    nav .logo {
        width: 60px;
        margin: 0;

    }

    nav ul li a {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    
    .text-box h1 {
        font-size: 30px;
    }

    .text-box {
        margin: 0;
        padding: 0;
        padding-left: 30px;
        font-size: 15px;
        /* background: #efefef; */
    }

    .text-box .btn {
        margin-top: 15px;
        font-size: 15px;
    }

    .image img {
        /* position: relative; */
        margin: 0;
        padding: 0;
        /* opacity: 1; */
    }
}