@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background: #ffeadc;  
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-left: 5%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(6, 5, 5);
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #ff3e3b;;
}

.image img{
    background-size: cover;
    width: 100vw;
    position: absolute;
    opacity: 0.7;
}




.text-box {
    margin: 0;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 30%;
    font-size: 30px;
    position: relative;
}

.text-box h1 {
    font-size: 85px;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 10px;
}

.text-box .btn {
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    background: #ff3e3b;
    color: rgb(27, 23, 23);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

/* match-content */
.content h1 {
    font-size: 50px;
    text-align: center;
    background: #000;
    background: #ffeadc;  
}

.content {
    margin: auto 10%;
    
}

.container1 {
    /* margin: 40px; */
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* background: #ffeadc;   */
}

.container2 {
    display: grid; 
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 2fr 1fr;
    /* background: #ffeadc;   */
    font-size: 2vw;
}

.pic{
    grid-column: 1 / 2;
}

.pic img {
    width: 40vw;
}

.intro {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro p {
    font-size: 30px;
    padding: 1% 5%;
}

.container :not(.intro , .pic) {
    /* background: #ffeadc;   */
}

.age {
    padding: 0 30px;
}


.taste p {
    text-align: center;
}

.taste-list {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline; 
    
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

@media (max-width: 855px) {
    .text-box h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .text-box {
        font-size: 20px;
    }
    .text-box .btn {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    nav .logo {
        width: 60px;
        margin: 0;

    }

    nav ul li a {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    
    .text-box h1 {
        font-size: 30px;
    }

    .text-box {
        margin: 0;
        padding: 0 0 30% 30px;
        font-size: 15px;
        /* background: #efefef; */
    }

    .text-box .btn {
        margin-top: 15px;
        font-size: 15px;
    }

    .image img {
        margin: 0;
        padding: 0;
    }
}